
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    transition: all 0.3s ease-in-out;
}
.pageBackground{
    width: 100vw;
    height: 300vh;
    background-image: linear-gradient(to bottom, #4D07B3, #8a3cff);
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-size: cover; /* Ensures the image covers the entire background */
    background-attachment: fixed;
    justify-items: center;
    align-items: center;
}
.bg-circle1{
    position: absolute;
    background-color: white;
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px 30px white;
    opacity: .25;
    translate:0 30vh;
    border-radius: 50% 50% 30% 50%;
    animation: rotate 5s infinite  ;
}
.bg-circle2{
    position: absolute;
    background-color: rgb(54, 226, 238);
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px 50px rgb(54, 226, 238);
    opacity: .25;
    translate:-15px 30vh;
    border-radius: 50% 30% 30% 30%;
    animation: rotate 10s infinite
}
.bg-circle3{
    position: absolute;
    background-color: rgb(253, 86, 184);
    width: 300px;
    height: 300px;
    box-shadow: 0px 0px 5px 10px rgb(253, 86, 184);
    opacity: .25;
    translate:15px 30vh;
    border-radius: 30% 50% 30% 50%;
    animation: rotate 3s infinite
}
@keyframes rotate {
    0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
}
.navbar-bg{
    display: flex;
    width: 100vw;
    height: auto;
    justify-content: center;
    position: relative;
}
.company-logo{
    color:hotpink;
    position: absolute;
    translate: -27vw 6vh;
    font-size: 2vw;
    font-weight: bolder;
    text-shadow: 0 2px 10px black;


}
.company-name{
    font-size: 2vw;
    color:white;
    font-weight: 100;
}
.navbar{
    position: absolute;
    top: 5vh;
    translate: 28vw 0;
    width: 30vw;
    height: 7vh;
    border-radius: 2vw;
    display: flex;
    justify-content: space-evenly;
}
.navbar button{
    border: none;
    font-size: 1.3vw;
    background-color: transparent;
    cursor: pointer;
    color:white;
}
.hero-bg{
    width: 80vw;
    height: 70vh;
    top: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: baseline;
    color:white;
}
.hero-text{
    display: grid;
    justify-items:center;
}
.hero-text h1{
    margin-top: 10%;
    font-size: 5vw;
    text-align: center;
    animation: slideUp 1s 1;
    text-shadow: 5px 5px 30px #4D07B3;

}
@keyframes slideUp {
    from{
        transform: translateY(20px);
        opacity: 0;
    }   
    to{
        transform: translateY(0px);
        opacity: 1;
    } 
}
.hero-text h4{
    position: relative;
    top: 15vh;
    font-size: 4vw;
    width: 50vw;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 30px #4D07B3;

}
.about-bg{
    width: 90vw;
    height: 80vh;
    position: relative;
    top: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2xl;
    border-radius: 25px;
    justify-content: center;
}
.about-title{
    background-color: #4D07B350;
    padding: 15px;
    border-radius: 10px;
}
.about-text{
    display: grid;
    width: 60vw;
    border-radius: 25px;
    font-size: 1.5vw;
    gap: 5vh;
    color:white;
    background-color: #4D07B350;
    padding: 15px;
}
.mission-bg{
    width: 90vw;
    height: 100vh;
    position: relative;
    top: 40vh;
    display: grid;
    justify-content: center;
    align-items: center;
    color:white;
    font-size: 2xl;
    border-radius: 25px;
    justify-content: center;
}
.mission-title h1{
    background-color: #4D07B350;
    padding: 15px;
    border-radius: 10px;
}
.mission-text{
    display: grid;
    width: 60vw;
    padding: 1vw;
    border-radius: 25px;
    font-size: 1.5vw;
    gap: 5vh;
    color:white;
    background-color: #4D07B350;
    padding: 15px;

}
.tagline{
    width: 20vw;
    font-size: 3vw;
    background-color:#4D07B3;
    color: #FFCC24;
    text-align: center;
    padding: 1vw;
    border-radius: 20px;
    box-shadow: 0 1px 25px black;
    transform:translateY(-20vh)
}
.services-bg{
    width: 60vw;
    height: 150vh;
    translate: 0 20vh;
    color: white;
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 5vh;
}
.services-title h1{
    font-size: 5vw;
    text-align: center;
}
.services-title h4{
    font-size: 2vw;
    text-align: center;
}
.services-cards{
    width: 40vw;
    translate: 0 10vh;
    display: grid;
    gap: 2vh;
    background-color: #4D07B350;
    padding: 2vw;
    border-radius: 20px;
}
.services-cards h2{
    font-size: 3vw;
}
.services-cards h4{
    font-size: 2vw;
    color: #ffffff80;
}
.services-cards p{
    font-size: 1.5vw;
}
.contact-title{
    color: white;
    translate: 0 10vh;

}
.contact-form{
    width: 60vw;
    height: 100vh;
    translate: 0 20vh;
    color: white;
}

.field{
    width: 40vw;
    height: 10vh;
    background-color: #00000050;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 1.5vw;
    padding-left: 2vw;
}
.field::placeholder{
    font-size: 1.5vw;
    color: #ffffff80;
}
.field:focus-visible{
    outline: none;
}
.input-box #message{
    height: 50vh;
    width: 39vw;
    white-space: pre-wrap;   /* preserve spaces + wrap */
    overflow-wrap: break-word; /* break long words if needed */
    padding-top: 2vw;
    padding-right:1vw;
}
